* {
    margin-left: 12px;
    margin-bottom: 10px;

}
.Foodname {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
}
.Foodname p {
    width: 80%;
}
.Foodname .part1 {
    width: 40%;
}
.Foodname img {
    margin-left:0px ;
    width: 70%;
    height:  60%;
}
.Foodname .part2 {
    width: 50%;
}