.login {
    border-radius: 3pt;
    border: black thin solid;
    padding: 20pt 0pt;
    box-shadow:  3px 10px 10px rgb(177, 177, 177);
    width: 350px;
    padding-left:60px
}
.login h1 {
    margin-bottom: 12pt;
}
.login  p {
    margin: 6pt 0 3pt 0
}
.login >input {
    width: 290px;
}
.login .Error {
    font-size: 8pt;
    color: red;
    font-weight: bolder;
}
.login div {
    display: flex;
    justify-content: flex-start;
}
.login div input {
    border:thin gray solid;
    border-radius: 1pt;
    margin-top: 8pt;
    width: 290px;
    font-weight: bold;
}
.login div input:hover {
    border:thin gray solid;
    border-radius: 1pt;
    margin-top: 8pt;
    width: 290px;
    background-color: rgb(194, 194, 194);
    box-shadow:  1px 1px 1px rgb(177, 177, 177);
    color: rgb(255, 255, 255);
    font-weight: bolder;
}