
.App h1 {
  font-size:50pt;
  text-align: center;
}

.App .Quizapp {
  display: flex;
  flex-flow:wrap column;
  align-items: center;
}
.App .Startbtn {
  margin-top:2rem;
  height: 3rem;
  width: fit-content;
  font-size: 20pt;
  padding:0 2rem;
}
.App .Quizz {
  display: flex;
  flex-flow:wrap column;
  align-items: flex-start;
  border: thin black solid;
  padding:1rem;
}