.App{
  display: flex;
  flex-flow:column wrap;
}


.App .Emoji {
  align-self: center;
  /* border: black solid thin; */
  width: 700px;
}
.App .Emoji p {
  padding-left: 10pt;
  padding-top: 15pt;
  font-size: 14pt;
  border: thin black solid;
  height: 30pt;
  border-radius: 5pt;
  margin: 0;
}

.App .Emoji p span{
  margin-right: 15pt;
}